%section.news-area
  .container
    .row
      .col-lg-8.col-md-12
        .row
          .col-md-12
            .latest-news
              .tab-box.d-flex.justify-content-between
                .sec-title
                  %h5 Últimas noticias
                / Nav tabs
                %ul.nav.nav-tabs{:role => "tablist"}
                  - @categories.each_with_index do |category, index|
                    %li.nav-item
                      %a.nav-link{"data-toggle" => "tab", :href => "##{category.slug}", class: index == 0 ? 'active' : ''}= category.name
              / Tab panes
              .tab-content
                - @categories.each_with_index do |category, index|
                  .tab-pane.fade.show{:role => "tabpanel", id: category.slug, class: index == 0 ? 'active' : ''}
                    .row
                      .col-md-6
                        .lt-item-bg
                          = image_tag category.articles.last.image.variant(resize_to_fill: [500, 326], gravity: 'center'), class: 'img-fluid'
                          %h6
                            = link_to category.articles.last.title, article_path(category.articles.last)
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item= category.name
                            %li.list-inline-item February 11, 2019
                          = category.articles.last.body
                      .col-md-6
                        .lt-item-sm.d-flex
                          .lt-img
                            %a{:href => ""}
                              = image_tag 'lt-sm-1.jpg'
                          .img-content
                            %p
                              %a{:href => ""} These sentences are selected from various online news.
                            %span February 11, 2019
                        .lt-item-sm.d-flex
                          .lt-img
                            %a{:href => ""}
                              = image_tag 'lt-sm-2.jpg'
                          .img-content
                            %p
                              %a{:href => ""} These sentences are selected from various online news.
                            %span February 11, 2019
                        .lt-item-sm.d-flex
                          .lt-img
                            %a{:href => ""}
                              = image_tag 'lt-sm-3.jpg'
                          .img-content
                            %p
                              %a{:href => ""} These sentences are selected from various online news.
                            %span February 11, 2019
                        .lt-item-sm.d-flex
                          .lt-img
                            %a{:href => ""}
                              = image_tag 'lt-sm-4.jpg'
                          .img-content
                            %p
                              %a{:href => ""} These sentences are selected from various online news.
                            %span February 11, 2019
      .col-lg-4.col-md-12
        .row
          .col-md-12
            = render 'shared/follow_us_sidebar'
