%section.slider-area
  .container
    .row
      .col-lg-8.col-md-12.padding-fix-r
        .owl-carousel.owl-slider
          - @articles.each do |article|
            .slider-content
              = image_tag article.image, class: 'img-fluid'
              .slider-layer
                %p
                  = link_to article.title, article_path(article)
                %ul.list-unstyled.list-inline
                  %li.list-inline-item SPORTS
                  %li.list-inline-item February 11, 2019
          .slider-content
            = image_tag 'slider-3.jpg', class: 'img-fluid'
            .slider-layer
              %p
                %a{:href => ""} The purpose of this handout is to give some basic instruction. It is usually composed of several sentences that together develop one.
              %ul.list-unstyled.list-inline
                %li.list-inline-item LIFE STYLE
                %li.list-inline-item February 11, 2019
      .col-lg-4.col-md-12.slider-fix
        - @articles.take(2).each_with_index do |article, index|
          .slider-sidebar{class: index.zero? ? 'sidebar-o' : ''}
            = image_tag article.image, class: 'img-fluid'
            .sidebar-layer
              %p
                = link_to article.title, article_path(article)
              %ul.list-unstyled.list-inline
                %li.list-inline-item TECHNOLOGY
                %li.list-inline-item February 11, 2019
        .slider-sidebar
          = image_tag 'sl-sidebar-2.jpg', class: 'img-fluid'
          .sidebar-layer
            %p
              %a{:href => ""} These sentences are selected from various online news.
            %ul.list-unstyled.list-inline
              %li.list-inline-item HEALTH
              %li.list-inline-item February 11, 2019
