%section.slider-area
  .container
    .row
      .col-lg-8.col-md-12.padding-fix-r
        .owl-carousel.owl-slider
          .slider-content
            = image_tag 'slider-3.jpg', class: 'img-fluid'
            .slider-layer
              %p
                %a{:href => ""} This handout will help you understand how paragraphs are formed. It is usually composed of several sentences that together develop one.
              %ul.list-unstyled.list-inline
                %li.list-inline-item SPORTS
                %li.list-inline-item February 11, 2019
          .slider-content
            = image_tag 'slider-3.jpg', class: 'img-fluid'
            .slider-layer
              %p
                %a{:href => ""} The purpose of this handout is to give some basic instruction. It is usually composed of several sentences that together develop one.
              %ul.list-unstyled.list-inline
                %li.list-inline-item LIFE STYLE
                %li.list-inline-item February 11, 2019
          .slider-content
            = image_tag 'slider-3.jpg', class: 'img-fluid'
            .slider-layer
              %p
                %a{:href => ""} It is usually composed of several sentences that together develop one. It is usually composed of several sentences that together develop one.
              %ul.list-unstyled.list-inline
                %li.list-inline-item FOOD
                %li.list-inline-item February 11, 2019
      .col-lg-4.col-md-12.slider-fix
        .slider-sidebar.sidebar-o
          = image_tag 'sl-sidebar-1.jpg', class: 'img-fluid'
          .sidebar-layer
            %p
              %a{:href => ""} It is usually composed of several sentences that together develop one.
            %ul.list-unstyled.list-inline
              %li.list-inline-item TECHNOLOGY
              %li.list-inline-item February 11, 2019
        .slider-sidebar
          = image_tag 'sl-sidebar-2.jpg', class: 'img-fluid'
          .sidebar-layer
            %p
              %a{:href => ""} These sentences are selected from various online news.
            %ul.list-unstyled.list-inline
              %li.list-inline-item HEALTH
              %li.list-inline-item February 11, 2019
