<section class="menu-area">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="main-menu">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a>HOME <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown list-unstyled">
                                <li><a href="index.html">Home Style 1</a></li>
                                <li><a href="02-home-two.html">Home Style 2</a></li>
                                <li><a href="03-home-three.html">Home Style 3</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item"><a>PAGES <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown list-unstyled">
                                <li><a href="04-about-us.html">About Us</a></li>
                                <li><a>Category <i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-sub list-unstyled">
                                        <li><a href="05-category-one.html">Category Style 1</a></li>
                                        <li><a href="06-category-two.html">Category Style 2</a></li>
                                        <li><a href="07-category-three.html">Category Style 3</a></li>
                                        <li><a href="08-category-four.html">Category Style 4</a></li>
                                    </ul>
                                </li>
                                <li><a>News Details <i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-sub list-unstyled">
                                        <li><a href="09-news-details-one.html">News Details Style 1</a></li>
                                        <li><a href="10-news-details-two.html">News Details Style 2</a></li>
                                    </ul>
                                </li>
                                <li><a href="12-faq.html">Faq</a></li>
                                <li><a href="11-contact.html">Contact</a></li>
                                <li><a href="13-404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="list-inline-item mega-vd"><a>VIDEOS <i class="fa fa-angle-down"></i></a>
                            <ul class="v-gallery">
                                <li class="row">
                                    <div class="col-md-12">
                                        <div class="mega-vd-slider owl-carousel">
                                            <div class="mg-item">
                                                <div class="mg-img">
                                                    <%= image_tag 'popular-10.jpg' %>
                                                    <a href="#"><i class="fa fa-play"></i></a>
                                                </div>
                                                <div class="mg-content">
                                                    <p><a href="">These sentences are selected from various online news.</a></p>
                                                </div>
                                            </div>
                                            <div class="mg-item">
                                                <div class="mg-img">
                                                    <%= image_tag 'popular-7.jpg' %>
                                                    <a href="#"><i class="fa fa-play"></i></a>
                                                </div>
                                                <div class="mg-content">
                                                    <p><a href="">These sentences are selected from various online news.</a></p>
                                                </div>
                                            </div>
                                            <div class="mg-item">
                                                <div class="mg-img">
                                                    <%= image_tag 'popular-8.jpg' %>
                                                    <a href="#"><i class="fa fa-play"></i></a>
                                                </div>
                                                <div class="mg-content">
                                                    <p><a href="">These sentences are selected from various online news.</a></p>
                                                </div>
                                            </div>
                                            <div class="mg-item">
                                                <div class="mg-img">
                                                    <%= image_tag 'popular-11.jpg' %>
                                                    <a href="#"><i class="fa fa-play"></i></a>
                                                </div>
                                                <div class="mg-content">
                                                    <p><a href="">These sentences are selected from various online news.</a></p>
                                                </div>
                                            </div>
                                            <div class="mg-item">
                                                <div class="mg-img">
                                                  <%= image_tag 'popular-5.jpg' %>
                                                    
                                                    <a href="#"><i class="fa fa-play"></i></a>
                                                </div>
                                                <div class="mg-content">
                                                    <p><a href="">These sentences are selected from various online news.</a></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item mega-mnu"><a>MEGA MENU <i class="fa fa-angle-down"></i></a>
                            <ul class="mega-menu">
                                <li class="row">
                                    <div class="col-md-3">
                                        <div class="mega-cat">
                                            <div class="sec-title">
                                                <h5>Categories</h5>
                                            </div>
                                            <div class="cat-content">
                                                <ul class="list-unstyled">
                                                    <li><a href="">Business & World</a></li>
                                                    <li><a href="">Tech & Politics</a></li>
                                                    <li><a href="">Sports & Environment</a></li>
                                                    <li><a href="">Fashion & Lifestyle</a></li>
                                                    <li><a href="">Animal & Planet</a></li>
                                                    <li><a href="">Health & National</a></li>
                                                    <li><a href="">Culture & Music</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-lat">
                                            <div class="sec-title">
                                                <h5>Latest News</h5>
                                            </div>
                                            <div class="lat-box d-flex">
                                                <div class="lat-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-6.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <span>20 Seconds ago</span>
                                                </div>
                                            </div>
                                            <div class="lat-box d-flex">
                                                <div class="lat-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-11.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <span>20 Seconds ago</span>
                                                </div>
                                            </div>
                                            <div class="lat-box d-flex">
                                                <div class="lat-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-9.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <span>20 Seconds ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-pop">
                                            <div class="sec-title">
                                                <h5>Popular News</h5>
                                            </div>
                                            <div class="pop-box d-flex">
                                                <div class="pop-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-4.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <ul class="list-unstyled list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pop-box d-flex">
                                                <div class="pop-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-7.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <ul class="list-unstyled list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="pop-box d-flex">
                                                <div class="pop-img">
                                                    <a href="#">
                                                    <%= image_tag 'lt-sm-8.jpg' %>
                                                    </a>
                                                </div>
                                                <div class="img-content">
                                                    <p><a href="">It is usually composed sentences</a></p>
                                                    <ul class="list-unstyled list-inline">
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                        <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="mega-glry">
                                            <div class="sec-title">
                                                <h5>Image Gallery</h5>
                                            </div>
                                            <div class="glry-box">
                                                <%= image_tag 'lt-sm-1.jpg' %>
                                                <%= image_tag 'lt-sm-2.jpg' %>
                                                <%= image_tag 'lt-sm-3.jpg' %>

                                                <%= image_tag 'lt-sm-5.jpg' %>
                                                <%= image_tag 'lt-sm-10.jpg' %>
                                                <%= image_tag 'lt-sm-12.jpg' %>
                                  
                                      
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="list-inline-item"><a href="">POLITICS</a></li>
                        <li class="list-inline-item"><a href="">BUSINESS</a></li>
                        <li class="list-inline-item"><a href="">SPORTS</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="clock text-right">
                    <span id="dg-clock"></span>
                </div>
            </div>
        </div>
    </div>
</section>
