%section.news-area
  .container
    .row
      .col-lg-8.col-md-12
        .row
          .col-md-12
            .latest-news
              .tab-box.d-flex.justify-content-between
                .sec-title
                  %h5 Latest News
                / Nav tabs
                %ul.nav.nav-tabs{:role => "tablist"}
                  %li.nav-item
                    %a.nav-link.active{"data-toggle" => "tab", :href => "#tech"} Technology
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#busi"} Business
                  %li.nav-item
                    %a.nav-link{"data-toggle" => "tab", :href => "#spor"} Sports
              / Tab panes
              .tab-content
                #tech.tab-pane.fade.show.active{:role => "tabpanel"}
                  .row
                    .col-md-6
                      .lt-item-bg
                        = image_tag 'lt-bg-1.jpg', class: 'img-fluid'
                        %h6
                          %a{:href => ""} These sentences are selected from various online news.
                        %ul.list-unstyled.list-inline
                          %li.list-inline-item Technology
                          %li.list-inline-item February 11, 2019
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                    .col-md-6
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-1.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-2.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-3.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-4.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                #busi.tab-pane.fade{:role => "tabpanel"}
                  .row
                    .col-md-6
                      .lt-item-bg
                        = image_tag 'lt-bg-2.jpg', class: 'img-fluid'
                        %h6
                          %a{:href => ""} These sentences are selected from various online news.
                        %ul.list-unstyled.list-inline
                          %li.list-inline-item Business
                          %li.list-inline-item February 11, 2019
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                    .col-md-6
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-5.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-6.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-7.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-8.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                #spor.tab-pane.fade{:role => "tabpanel"}
                  .row
                    .col-md-6
                      .lt-item-bg
                        = image_tag 'lt-bg-3.jpg', class: 'img-fluid'
                        %h6
                          %a{:href => ""} These sentences are selected from various online news.
                        %ul.list-unstyled.list-inline
                          %li.list-inline-item Sports
                          %li.list-inline-item February 11, 2019
                        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque labore, quam voluptatibus ipsum. Exde tenetur, quasi, provident animi magni voluptas fugit Itaque labore quae ad........
                    .col-md-6
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-9.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-10.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-11.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
                      .lt-item-sm.d-flex
                        .lt-img
                          %a{:href => ""}
                            = image_tag 'lt-sm-12.jpg'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news.
                          %span February 11, 2019
          .col-md-12
            .pop-news
              .sec-title
                %h5 Popular News
              .owl-carousel.popular-slider
                .popular-item
                  .row
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-1.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-2.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-2.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-4.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-5.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-6.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                .popular-item
                  .row
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-7.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-8.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => "#"}
                            = image_tag 'popular-9.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-10.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-11.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
                    .col-md-4
                      .pop-box
                        .pop-img
                          %a{:href => ""}
                            = image_tag 'popular-12.jpg', class: 'img-fluid'
                        .img-content
                          %p
                            %a{:href => ""} These sentences are selected from various online news....
                          %ul.list-unstyled.list-inline
                            %li.list-inline-item FOOD
                            %li.list-inline-item September 24, 2017
      .col-lg-4.col-md-12
        .row
          .col-md-12
            .follow-widget
              .sec-title
                %h5 Follow Us
              %ul.list-unstyled.clearfix
                %li
                  %a{:href => ""}
                    %i.fa.fa-facebook
                    %p 44,410
                %li
                  %a{:href => ""}
                    %i.fa.fa-twitter
                    %p 31,219
                %li
                  %a{:href => ""}
                    %i.fa.fa-rss
                    %p 11,209
                %li
                  %a{:href => ""}
                    %i.fa.fa-linkedin
                    %p 19,323
                %li
                  %a{:href => ""}
                    %i.fa.fa-google-plus
                    %p 29,559
                %li
                  %a{:href => ""}
                    %i.fa.fa-youtube
                    %p 56,717
          .col-md-12
            .add-widget
              = image_tag 'add1.jpg', class: 'img-fluid'
              .add-layer.text-center
                %p Best Template For Your Online News
                %a{:href => ""} Buy Now
          .col-md-12
            .tab-widget
              %ul.nav.nav-tabs{:role => "tablist"}
                %li.nav-item
                  %a.nav-link.active{"data-toggle" => "tab", :href => "#recent"} Recent
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#popular"} Popular
                %li.nav-item
                  %a.nav-link{"data-toggle" => "tab", :href => "#comment"} Comment
              / Tab panes
              .tab-content
                #recent.tab-pane.fade.show.active{:role => "tabpanel"}
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-6.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 20 Seconds ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-11.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 4 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-7.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 47 minutes ago
                  .rec-item.d-flex
                    .rec-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-4.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %span 1 Hours ago
                #popular.tab-pane.fade{:role => "tabpanel"}
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-3.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-8.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-9.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                  .pop-item.d-flex
                    .pop-img
                      %a{:href => ""}
                        = image_tag 'lt-sm-12.jpg'
                    .img-content
                      %p
                        %a{:href => ""} These sentences are selected from various online news.
                      %ul.list-unstyled.list-inline
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                        %li.list-inline-item
                          %i.fa.fa-star
                #comment.tab-pane.fade{:role => "tabpanel"}
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        = image_tag 'com-1.png'
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> James
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        = image_tag 'com-2.png'
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Mary
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        = image_tag 'com-1.png'
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> John
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        = image_tag 'com-2.png'
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Anna
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
                  .com-item.d-flex
                    .com-img
                      %a{:href => ""}
                        = image_tag 'com-1.png'
                    .img-content
                      %p
                        %a{:href => ""}
                          %span> Maxx
                          \: Nesciunt quaerat ipsam fugiat impedit dignissimos unde...
