/ About Area
%section.about-us
  .container
    .row
      .col-md-12
        .sec-top.text-center
          %h4 About Us
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore excepturi exercitationem ipsam culpa est. Tempore nisi eligendi explicabo facere at ut corporis.
      .col-lg-6.col-md-12
        .about-box
          %h4
            Welcome to
            %span AAAJ y su gente
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quod facere praesentium odit. Repellat porro et laudantium, atque similique distinctio.
            %br>/
            Nemo quidem obcaecati aut possimus, voluptatibus
            dignissimos facilis sit. Qui.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos ipsum, ut! Numquam nesciunt, ex obcaecati libero asperiores reprehenderit ratione minus commodi magni fugit non nemo quas dolorum
            nisi ducimus laboriosam! voluptatibus voluptatibus dignissimos facilis sit. Facilis sit.
          %a{:href => "#"} Read More
      .col-lg-6.col-md-12
        .about-img
          = image_tag 'about.jpg', class: 'img-fluid'
      .col-md-12
        .team
          .sec-title
            %h5 Staff
          .team-slider.owl-carousel
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Mr. John Doe
              %p Founder
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-google-plus
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-linkedin
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Ms. Jasica Brown
              %p Editor
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-linkedin
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Mr. Adam Green
              %p Publisher
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-google-plus
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-linkedin
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Ms. Katrina Jun
              %p Photographer
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-google-plus
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Mr. David Show
              %p Manager
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-google-plus
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-linkedin
            .slider-item.text-center
              = image_tag 'about.jpg', class: 'team-1.jpg'
              %h5
                %a{:href => ""} Ms. Tailor Brown
              %p Officer
              %ul.list-unstyled.list-inline
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-facebook
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-twitter
                %li.list-inline-item
                  %a{:href => ""}
                    %i.fa.fa-linkedin
/ End About Area
