= render 'preloader'
= render 'top_bar'
= render 'logo_area'
= render 'menu_area'
= render 'mobile_menu_area'
= render 'top_news'
= render 'slider_area'
= render 'news_area'
= render 'gallery_area'
= render 'int_lif'
= render 'footer_area'
= render 'footer_btm'
