<!DOCTYPE html>
<html>
  <head>
    <title>Aaaj</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'custom' %>
  </body>
</html>
